*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

/*-------------- navigation bar ---------*/
.navigation {
    text-decoration: none;
}
.navigation nav a span {
    font-size: 20px;
    padding: 10px;
    border: 1px solid #000;
    color: #000;
}
.logo:hover {
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.5);
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 250px;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #000;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}

/*--------- homepage header ----------*/
.header {
    min-height: 100vh;  /* vu is View Hight */
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)), url(img/header1.jpeg);
    background-position: center;
    background-size: cover;  /* picture covers page */
    position: relative;  /* some offset features connected with top, bottom, etc */ 
}

.header h2 {
    color: white;
    font-size: 22px;
}
.header p {
    color: white;
    font-size: 15px;
}
.text-box {
    width: 90%;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1 {
    color: #eee;
    font-size: 62px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover {
    border: 1px solid #000;
    background: rgba(255,255,255,0.9);
    color: #000;
    font-weight: 600;
    transition: 0.5s;
} 

nav .fa {
    display: none;
}

@media(max-width: 770px) {
    .text-box h1 {
        font-size: 25px;
    }
    .text-box h2 {
        font-size: 17px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links ul li a {
        font-size: 20px;
    }
    .nav-links {
        position: fixed;
        background: rgba(255,255,255,0.9);
        border-left: 1px solid grey;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -150px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul li::after {
        height: 0px;
        border: 0px solid #eee;
        background: #fff;
    }
    nav .fa {
        display: block;
        color: #000;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

}

/*-------------- home page ---------------*/
.what-i-can-help-with {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1 {
    font-size: 30px;
    font-weight: 600;
}
p {
    color: #777;
    font-size: 14px;
    font-weight: 300px;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.problems-i-can-help-with {
    flex-basis: 48%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
}
.problems-i-can-help-with h3 {
    font-weight: 600;
    margin: 10px;
    text-align: center;
}
.problems-i-can-help-with ul {
    color: #777;
    list-style-position: inside;
}
.problems-i-can-help-with ul li {
    margin: 10px;
}

.problems-i-can-help-with:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 750px) {
    .row {
        flex-direction: column;
    }
}

/*-------------- testimonials --------------*/
.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

#remark {
    font-size: 8pt;
}
.testimonials-col {
    flex-basis: 48%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    padding: 15px;
    box-sizing: border-box;
}
.testimonials-col img {
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    display: block;
}

.testimonials-col p {
    padding: 0;
}
.testimonials-col h3 {
    text-align: left;
    margin-top: 15px;
}

/*-------- footer ---------*/
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: #222;
    color: #fff;
}

.footer h4{
    margin-bottom: 05px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa {
    color: #fff;
    margin: 0 13px;
    cursor: pointer;
    padding: 19px 0;
    font-size: 15px;
}

















