<style>
/*-------- footer ---------*/
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: #222;
    color: #fff;
    position: relative;
}

.footer h4 {
    margin-bottom: 05px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa {
    color: #fff;
    margin: 0 13px;
    cursor: pointer;
    padding: 19px 0;
    font-size: 15px;
}
</style>

<!-- ------------ Footer ------------ -->
<section class="footer">
    <h4>Kislyakov</h4>

    <p><i class="fa fa-copyright"></i> Александр Кисляков 
    <br>г. Москва, Озерковская набережная, 50</p>
    <div class="icons">
        <a href="https://www.facebook.com/aleksnlp/"><i class="fa fa-facebook"></i></a>
        <a href="https://vk.com/aleksnlp"><i class="fa fa-vk"></i></a>
        <a href="https://wa.me/79167967056"><i class="fa fa-whatsapp"></i></a>
        <a href="https://www.instagram.com/aleksnlp/"><i class="fa fa-instagram"></i></a>
        <a href="https://t.me/aleksnlp"><i class="fa fa-telegram"></i></a>
        <a href="mailto:mail@aleksnlp.com"><i class="fa fa-envelope"></i></a>
    </div>
</section>
</body>
</html>
