<!-- ------------ Footer ------------ -->
<section class="footer">
    <h4>Kislyakov</h4>

    <p><i class="fa fa-copyright"></i> Александр Кисляков 
    <br>г.Москва, Озерковская набережная, 50</p>
    <div class="icons">
        <a href=""><i class="fa fa-facebook"></i></a>
        <a href=""><i class="fa fa-vk"></i></a>
        <a href=""><i class="fa fa-whatsapp"></i></a>
        <a href=""><i class="fa fa-telegram"></i></a>
        <a href="mailto:kislyakov.aa@mail.ru"><i class="fa fa-envelope"></i></a>
    </div>
</section>
</body>
</html>
