<body>
<section class="navigation">
    <nav>
        <a href="/"><span class="logo">Kislyakov</span></a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li>
                <div class="dropdown">
                    <button class="dropbtn">Услуги
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content" id="service-dropdown">
                        <a href="#">Консультация по психологии</a>
                        <a href="#">Ознакомительная медитация</a>
                    </div>
                </div>
                </li>
                <li><a href="/service/">Услуги</a></li>
                <li><a href="/FAQ/">FAQ</a></li>
                <li><a href="/blog/">Блог</a></li>
                <li><a href="/contacts/">Контакты</a></li>


            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
</section>

