<link rel="stylesheet" href="/assets/css/navbar.css">

<section class="navigation">
    <nav>
        <a href="/"><span class="logo">AK</span></a>

        <div class="nav-links" id="navLinks">
            <span class="fa-hiden"><i class="fa fa-times" onclick="hideMenu()"></i></span>
            <div class="navbar">
                <a href="/">Главная</a>
                <div class="dropdown">
                    <a href="" class="dropbtn">
                        Услуги<i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-content">
                        <a href="/psychology/">Консультация по психологии</a>
                        <a href="/yoga/">Ознакомительная медитация</a>
                    </div>
                </div>
                <a href="/FAQ/">FAQ</a>
                <a href="/blog/">Блог</a>
                <a href="/contacts/">Контакты</a>
            </div>
        </div>
        <span class="fa-hiden" id="media-nav-bars"><i class="fa fa-bars" onclick="showMenu()"></i></span>
    </nav>
</section>
<div id="after-navbar"></div>

<!-- JavaScript for Toggle Menu -->
<script>
    var navLinks = document.getElementById("navLinks");
    
    function showMenu() {
        navLinks.style.right = "0";
    }
    function hideMenu() {
        navLinks.style.right = "-150px";
    }
</script>

