<link rel="stylesheet" href="/assets/css/navbar.css" />
<link
	href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;500&display=swap"
	rel="stylesheet"
/>

<section class="navigation">
	<nav>
		<a href="/"><span class="logo">AK</span></a>

		<div id="nav-links">
			<span class="fa-hiden"><i class="fa fa-times" onclick="hideMenu()"></i></span>
			<div class="navbar">
				<a href="/" class="navbar-item">Главная</a>
				<a href="/psychology/" class="navbar-item">Консультация</a>
				<a href="/yoga/" class="navbar-item">Медитация</a>
				<a href="https://dzen.ru/aleksnlp" class="navbar-item">Блог</a>
			</div>
		</div>
		<span class="fa-hiden" id="media-nav-bars"
			><i class="fa fa-bars" onclick="showMenu()"></i
		></span>
	</nav>
</section>
<div id="after-navbar"></div>

<!-- JavaScript for Toggle Menu -->
<script>
	var navLinks = document.getElementById('nav-links');

	function showMenu() {
		navLinks.style.right = '0';
	}
	function hideMenu() {
		navLinks.style.right = '-150px';
	}
</script>
