*{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.text-box {
    padding-top: 20vh;
    padding-bottom: 10vh;
    padding-left: 4%;
    width: 90%;
    color: #000;
    text-align: center;
}

.text-box h1 {
    color: #eee;
    font-size: 62px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover {
    border: 1px solid #000;
    background: rgba(255,255,255,0.9);
    color: #000;
    font-weight: 600;
    transition: 0.5s;
} 

@media(max-width: 770px) {
    .text-box h1 {
        font-size: 25px;
    }
    .text-box h2 {
        font-size: 17px;
    }
}

/*-------------- home page ---------------*/
h1 {
    font-size: 30px;
    font-weight: 600;
}
p {
    color: #777;
    font-size: 14px;
    font-weight: 300px;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width: 750px) {
    .row {
        flex-direction: column;
    }
}

