*{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

body, html {
    height: 100%;
    margin: 0;
}
a, a:visited, a:hover, a:active {
    color:            inherit;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover {
    background: rgba(255,255,255,0.9);
    color: #000;
    font-weight: 600;
    transition: 0.2s;
}

.row {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width: 750px) {
    .row {
        flex-direction: column;
    }
}


.fixed-background {
    width: 100%;
    opacity: 0.95;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media(max-width: 770px) {
    .fixed-background {
        background-attachment: initial;
    }
}
