---
layout: post
---
<link rel="stylesheet" href="/assets/css/navbar_bottom_space.css">

<!-- Facebook comments -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v12.0" nonce="TGo0LhNy"></script>

{{ content }}

{% if page.comments %}
<div class="fb-comments" data-href="https://aleksnlp.com/{{ page.url }}" data-width="720" data-numposts="5"></div>

<noscript>Please enable JavaScript to view the comments.</noscript>
{% endif %}